#App {
  overflow-y: hidden;
  overflow-x: hidden;
}

#App-workspace {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  width: 100%;
  height: 80vh;
}

#App-workspace-files {
  border: 2px #00B0F0 solid;
  border-radius: 5px;
  width: 15%;
  height: 100%;
}

.App-workspace-divider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.divider {
  height: 50px;
}

.scrollable-hidden-bar {
  overflow-x: hidden;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#App-workspace-file-summary {
  border: 2px #00B0F0 solid;
  border-radius: 5px;
  height: 100%;
  width: 25%;
}

#App-workspace-results {
  border: 2px #D7039F solid;
  border-radius: 5px;
  height: 100%;
  width: 25%;
}

#App-workspace-tools {
  border: 2px #D7039F solid;
  border-radius: 5px;
  height: 100%;
  width: 15%;
}

#App-logo {
  pointer-events: none;
  height: 15vmin;
}

#App-header {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items:center;
}

#App-input-container {
  display: flex;
  align-items: center;
}

#App-input-subcontainer {
  display: flex;
  flex-direction: column;
}

#App-input {
  overflow-y: scroll !important;
  background-color:black;
  padding: 15px;
  resize: none;
  width: 100%;
  font-family: 'Ubuntu Mono';
}

#App-input::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

#App-notify {
  border: 0px;
  resize: none;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: black;
  color: #00B0F0;
  font-family: 'Ubuntu Condensed';
  text-decoration: none;
  text-align: center;
}

#App-logo-container {
  display: flex;
  justify-content: center;
  padding: 5px;
}

#App-thinker-container {
  display: flex;
  justify-content: center;
  padding: 5px;
}

#App-thinker {
  height: 125px;
}

.thinking {
  animation: spin infinite 1s;
}

.thinking-mouseover {
  animation: turn 1 0.2s;
  animation-fill-mode: forwards;  
}

.thinking-mouseleave {
  animation: return 1 0.2s;
}

@keyframes return {
  from {
      transform:rotate(90deg);
  }
  to {
      transform:rotate(0deg);
  }
}

@keyframes turn {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(90deg);
  }
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}